<div class="buttons">
  <div class="back-but-bl">
    <%= link_to content_tag(:span, t('manage.menu.feedback_messages')), manage_feedbacks_path, :class=>"back" %>
  </div>

  <div class="act-bl">
    <% if can? :update, @feedback, :context => :manage %>
      <%= link_to manage_icon("edit"), edit_manage_feedback_path(:id=>@feedback.id), :class=>"icons" %>
    <% end -%>
    
    <% if can? :delete, @feedback, :context => :manage %>
      <%= link_to manage_icon("delete"), manage_feedback_path(:id=>@feedback.id), 
          :method=>:delete, :confirm=>t("manage.confirm_delete"), :class=>"icons" %>
    <% end -%>
  </div>
</div>

<%= render :partial => 'manage/feedbacks/message', :collection => @feedbacks %>

<%= render :partial => 'manage/feedback_answers/form' %>

<script type="text/javascript">
  $(document).ready(function(){
    $('div.buttons a.answer').live('click', function(e){
      var message_id = $(this).attr('href').replace('#feedback_message_', '');
      $('#answer_form_block').show();
      $('#feedback_answer_message_id').val(message_id);

      //answer_form_block
      var pos = $("#answer_form_block").position();
      $(document).scrollTop(pos.top + 100);
      
      return false;
    });
    
    $('a.erase').live('click', function(e){
      $('#answer_form_block').hide();
      return false;
    });
  });
</script>
